<Configuration status="WARN">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>


    <Appenders> <!-- log destinations " define where the logs will be written   -->
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
        </Console>

        <!-- File Appender -->
        <RollingFile name="FileAppender" fileName="${log-path}/app.log"
                     filePattern="${log-path}/app-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Logs -->
        <Logger name="com.rayan.salarytracker" level="info" additivity="false">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <!-- Hibernate Logs -->
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Suppress other library logs -->
        <Logger name="org.springframework" level="warn" />
        <Logger name="org.apache" level="warn" />
        <Logger name="jakarta" level="warn" />

        <!-- Root Logger -->
        <Root level="error">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>
